<h1>Home Page</h1>
<h2>Directives Component</h2>
<h3>As and Element</h3>
<country-select name="selCountry" id="txtCountry">
    Country Select
</country-select>
<br />
<br />
<date-select ng-model="formData.date" date-options="dateOptions" opened="opened">Date Select</date-select>
<!-- <mydatepicker ng-model="formData.date" date-options="dateOptions" opened="opened"/> -->

<!-- <h3>As an Attribute</h3>
<div country-select class="test-class">Country Select</div> -->

<div ng-repeat="friend in friendsList.list">
    {$ friend $}
</div>